html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --border-color: #000;
  --border-size: 1px;
  --border-radius: 5px;
}

.pageCounter {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: var(--border-color);
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px 2px;
  margin: 5px;
}

.pageCounter::after {
  display: block;
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  width: 0;
  height: 0;
  border-radius: 3px;
  border-width: 5px;
  border-style: solid;
  border-top-color: #fff;
  border-right-color: #fff;
  border-left-color: var(--border-color);
  border-bottom-color: var(--border-color);
}

#app {
  overflow: scroll;
}

#footer {
  text-align: center;
}

#loader {
  background-color: #f1a81c;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#loader.loaded {
  top: initial;
  bottom: 0;
  height: 10vh;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-name: loaded;
}

@keyframes loaded {
  from {
    height: 100vh;
  }

  to {
    height: 10vh;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#loader img {
  width: 250px;
  margin: auto;
  opacity: 1;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-name: fadeIn;
}
